<form [formGroup]="form" novalidate class="login-form" (ngSubmit)="register()">
  <h2 mat-dialog-title>Regístrate</h2>
  <mat-dialog-content>
    <p>Ingresa tu correo para crear una cuenta.</p>
    <mat-form-field class="input-full-width">
      <mat-label>Correo</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ejm. johndoe@email.com"
      />
      @if (form.controls.email.hasError('email') &&
      !form.controls.email.hasError('required')) {
      <mat-error>Ingresa un correo válido</mat-error>
      } @if (form.controls.email.hasError('required')) {
      <mat-error>El correo es <strong>requerido</strong></mat-error>
      } @if (status === 'failed') {
      <mat-hint class="mat-mdc-form-field-error"
        >Ya existe un usuario con ese correo</mat-hint
      >
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-footer">
    <app-button
      typeBtn="button"
      [text]="'Cerrar'"
      style="margin-right: 0.5rem"
      mat-dialog-close
    ></app-button>
    <app-button
      typeBtn="submit"
      [color]="'primary'"
      [loading]="status === 'loading'"
      [text]="'Registrarme'"
    ></app-button>
  </mat-dialog-actions>
</form>
